<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDaoBean" class="com.szq.spring6.dao.UserDao"/>

    <bean id="userServiceBean" class="com.szq.spring6.service.UserService">
        <!--想让Spring调用对应的set方法，需要配置property标签-->
        <!--name属性怎么指定值：set方法的方法名，去掉set，然后把剩下的单词首字母变小写，写到这里-->
        <!--ref已引用-->
        <property name="userDao" ref="userDaoBean"/>

    </bean>
</beans>